* {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    

}

body {
    background-color: rgb(200, 225, 246);
    width: 100vw;
    height: 100vh;
    display: flex;
   justify-content: center;

}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
   height: 90%;
}

.smartphone{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.smartphone img {

    width: 50rem;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-size: 15px;
    margin: 0px 1.3%;

}








.account {
    display: flex;
    border: 1px solid;
    flex-direction: column;

    align-items: center;
    text-align: center;
    width: 100%;
    


    margin: 1.5vh;
    padding: 1.9vh 3vw;
    background-color: rgb(200, 225, 255);


}

.user {
    margin: 2vh 0px;
}



.user-image {
    border-radius: 50%;
    width: 100%;
    border: solid 0.4px ;
}



.login {
    border: solid rgb(234, 255, 254);
    border-radius: 15px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.524);
    color: azure;
    padding: 7px;
    background-color: rgba(92, 156, 180, 0.646);
    margin-bottom: 10px;
 
}

.app-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.app {
    display: flex;

    width: 90%;
    justify-content: space-between;
height: 5vw;
}

.app a {
    width: 48%;
    margin-top: 10px;


}
.app img{
    width: 100%;
}
@media (max-width: 1024px) {

  .main{
    width: 95%;
  }
  .content{
    font-size: 20px;
  }
}


@media (max-width: 700px) {

    .smartphone {
        display: none;
    }
    .content{
        width: 80%;
        font-size: 25px;
    }

    .app{
        height: 15vw;
    }
}

@media (min-width:2200px){
    .content{font-size: 35px;
    }
    .user{
        width: 50%;
    }

    .logo{
        width: 30%;
    }

    .smartphone img{
    width: 90rem;
    }
}

